@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<button class="btn btn-primary" @onclick="SayHello">Click me</button>
<hr/>
@greeting

@using BlazorApp.Services
@inject GreeterService service;
@code
{
    private string greeting;

    async Task SayHello()
    {
        greeting = await service.SayHello();
    }
}
